.DS_Store

/.idea/
.vs
gcc

/build-*/
/build/
/cmake-build-*/
# created by following build instructions to download the CMake installer script in current dir
/cmake.sh
install/

.vscode/
Pipfile

/CMakeUserPresets.json
/_deps/
.cache/
/tags*
compile_commands.json
/docker/*.jwt
/docker/*.json
/docker/*.json.orig
