name: CI build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: make build dir
        run: cmake -E make_directory ${{runner.workspace}}/build
      - name: configure cmake
        if: matrix.os != 'windows-latest'
        run: cmake -S ${{ github.workspace }} -B ${{runner.workspace}}/build
      - name: configure cmake (WIN)
        if: matrix.os == 'windows-latest'
        run: cmake -S ${{ github.workspace }} -B ${{runner.workspace}}/build -G "MinGW Makefiles"
      - name: build
        run: cmake --build ${{runner.workspace}}/build
