name: CI build

on:
  pull_request:
    branches:
      - main
      - release-*
  workflow_dispatch:
  workflow_call:

# cancel older, redundant runs of same workflow on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    name: build ${{ matrix.preset }}
    env: {}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macOS-12
            name: macOS x86_64
            preset: macOS-x64

          - os: macOS-12
            name: macOS arm64
            preset: macOS-arm64

          - os: windows-latest
            name: Windows x86_64
            preset: windows-x64-mingw

          - os: windows-latest
            name: Windows arm64
            preset: windows-arm64-vs2022

          - os: ubuntu-20.04
            container: openziti/ziti-builder:v2
            name: Linux x86_64
            preset: linux-x64-static-libssl

          - os: ubuntu-20.04
            container: openziti/ziti-builder:v2
            name: Linux arm
            preset: linux-arm-static-libssl

          - os: ubuntu-20.04
            container: openziti/ziti-builder:v2
            name: Linux arm64
            preset: linux-arm64-static-libssl

          - os: ubuntu-20.04
            container: openziti/ziti-builder:v2
            name: Linux x86_64
            preset: linux-x64-static

          - os: ubuntu-20.04
            container: openziti/ziti-builder:v2
            name: Linux arm
            preset: linux-arm-static

          - os: ubuntu-20.04
            container: openziti/ziti-builder:v2
            name: Linux arm64
            preset: linux-arm64-static

    steps:
      - name: Debug action
        uses: hmarr/debug-action@v3

      - name: checkout workspace
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run CMake Composite Action
        uses: ./.github/actions/build
        with:
          preset: ${{ matrix.preset }}
          target: bundle

      - name: list bundle artifacts
        run: ls -R
        working-directory: ./build/bundle/

      - name: list program artifacts
        run: ls -R
        working-directory: ./build/programs/ziti-edge-tunnel/

      - name: upload bundle artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.preset }}
          path: ./build/bundle/ziti-edge-tunnel-*.zip 
          if-no-files-found: error
