name: CI package

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*
    paths:
      - programs/ziti-edge-tunnel/package/*
      - .github/actions/openziti-tunnel-build-action/*
      - .github/workflows/cpack.yml
      - .github/cpack-matrix.yml
  release:
    types:
      - published

# cancel older, redundant runs of same workflow on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  set_matrix:
    name: Set CPack Config Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set_matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set Matrix
        id: set_matrix
        shell: bash
        run: |
          set -o pipefail
          set -o xtrace
          matrix="$(
            yq --output-format json .github/cpack-matrix.yml \
            | jq --compact-output '.cpack_matrix'
          )"
          echo "matrix=$matrix" | tee -a $GITHUB_OUTPUT
  package:
    needs: set_matrix
    name: ${{ matrix.arch.rpm }} ${{ matrix.distro.name }} ${{ matrix.distro.version }}
    runs-on: ubuntu-22.04  # pin oldest available Docker host for ABI compatibility
    # build image name is from matrix values (name:version) unless override (container) is specified
    container: ${{ matrix.distro.container || format('{0}:{1}', matrix.distro.name, matrix.distro.version) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.set_matrix.outputs.matrix) }}
    env:
      ZITI_DEB_TEST_REPO: ${{ vars.ZITI_DEB_TEST_REPO || 'zitipax-openziti-deb-test' }}
      ZITI_RPM_TEST_REPO: ${{ vars.ZITI_RPM_TEST_REPO || 'zitipax-openziti-rpm-test' }}
      VCPKG_BINARY_SOURCES: clear;files,${{ github.workspace }}/vcpkg_cache,readwrite
    steps:
      - name: Print Environment Variables and Event JSON
        uses: hmarr/debug-action@v3

      # only focal-20.04 has >= 2.18, which is required by actions/checkout to clone
      # which enables cmake version discovery
      - name: Install contemporary Git in runner container if Ubuntu
        if: ${{ matrix.distro.name == 'ubuntu' }}
        shell: bash
        run: |
          set -o pipefail
          set -o xtrace
          apt-get update
          apt-get install --yes software-properties-common
          add-apt-repository --yes ppa:git-core/ppa
          apt-get update
          apt-get install --yes git
          git --version

      - name: Install contemporary Git in runner container if RedHat
        if: ${{ matrix.distro.name == 'redhat' }}
        shell: bash
        run: |
          set -o pipefail
          set -o xtrace
          dnf -y update
          dnf -y install git findutils
          git --version

      - name: Checkout Workspace
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install the CPack Docker Action for this Matrix Job (name-version)
        env:
          DISTRO_LABEL: ${{ format('{0}-{1}', matrix.distro.name, matrix.distro.version) }}
        shell: bash
        run: |
          set -o pipefail
          set -o xtrace
          cp -vr ./.github/actions/openziti-tunnel-build-action/${DISTRO_LABEL}/* ./.github/actions/openziti-tunnel-build-action/

      - name: Define a Vcpkg Cache Key for the CPack Docker Action
        id: get_vcpkg_cache_key
        shell: bash
        env:
          KEY_PREFIX: vcpkg_cache-cpack-${{ matrix.arch.rpm }}_${{ matrix.distro.name }}_${{ matrix.distro.version }}
          ACTION_HASH: ${{ hashFiles(format('./.github/actions/openziti-tunnel-build-action/{0}-{1}', matrix.distro.name, matrix.distro.version)) }}
          CONFIG_HASH: ${{ hashFiles('./vcpkg.json') }}
        run: |
          set -o pipefail
          set -o xtrace
          ACTION_HASH_SHORT=${ACTION_HASH:0:8}
          CONFIG_HASH_SHORT=${CONFIG_HASH:0:8}
          echo "key=${KEY_PREFIX}-vcpkg_json=${CONFIG_HASH_SHORT}-build_action=${ACTION_HASH_SHORT}" | tee -a $GITHUB_OUTPUT

      - name: Create a Vcpkg Cache with the Defined Key for this Matrix Job
        id: vcpkg_cache
        uses: actions/cache@v5
        with:
          key: ${{ steps.get_vcpkg_cache_key.outputs.key }}
          path: ./vcpkg_cache

        # entrypoint.sh uses the value of arch to select the cmake preset
      - name: Run the CPack Docker Action to Build the Binary & Linux Package
        uses: ./.github/actions/openziti-tunnel-build-action
        env:
          # map vcpkg cache in the CPack Docker Action container to the mounted directory used by the rest of the workflow
          VCPKG_BINARY_SOURCES: clear;files,/github/workspace/vcpkg_cache,readwrite
        with:
          arch: ${{ matrix.arch.cmake }}
          config: RelWithDebInfo

      - name: Debug Build Environment
        shell: bash
        run: |
          set -o pipefail
          set -o xtrace
          if [[ "${{ steps.vcpkg_cache.outputs.cache-hit }}" == "true" ]]; then
            echo "::notice::Vcpkg Cache HIT - used cached dependencies"
          else
            echo "::warning::Vcpkg Cache MISS - dependencies rebuilt"
          fi
          cat /etc/*-release
          ls -horAS ./build/*.${{ matrix.distro.type }}
          ls -horAS ./build/programs/ziti-edge-tunnel/RelWithDebInfo/ziti-edge-tunnel

      - name: Test Installing the DEB Package
        if: ${{ matrix.arch.cmake == 'ci-linux-x64' && matrix.distro.name == 'ubuntu' }}
        env:
          DEBIAN_FRONTEND: noninteractive
        shell: bash
        run: |
          set -o pipefail
          set -o xtrace
          apt-get -y install ./build/ziti-edge-tunnel-*.deb

      - name: Test Installing the RPM Package
        if: ${{ matrix.arch.cmake == 'ci-linux-x64' && matrix.distro.name == 'redhat' }}
        shell: bash
        run: |
          set -o pipefail
          set -o xtrace
          yum -y install ./build/ziti-edge-tunnel-*.rpm

      - name: Test Running the Binary
        if: ${{ matrix.arch.cmake == 'ci-linux-x64' }}
        shell: bash
        run: |
          set -o pipefail
          set -o xtrace
          cat /etc/*-release
          ldd ./build/programs/ziti-edge-tunnel/RelWithDebInfo/ziti-edge-tunnel
          ./build/programs/ziti-edge-tunnel/RelWithDebInfo/ziti-edge-tunnel version --verbose

      - name: Upload the Linux Package
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.distro.name }}-${{ matrix.distro.version }}-${{ matrix.arch.rpm }}-${{ matrix.distro.type }}
          path: ./build/ziti-edge-tunnel-*.${{ matrix.distro.type }}
          if-no-files-found: error

      - name: Install jFrog CLI
        if: ${{ github.event_name == 'release' && startsWith(github.ref_name, 'v') }}
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_ENV_1: ${{ secrets.ZITI_ARTIFACTORY_CLI_CONFIG_PACKAGE_UPLOAD }}

      - name: Upload RPM to Artifactory
        if: ${{ github.event_name == 'release' && startsWith(github.ref_name, 'v') && matrix.distro.name == 'redhat' }}
        shell: bash
        run: >
          set -o pipefail;
          set -o xtrace;
          jf rt upload
          ./build/ziti-edge-tunnel-*.${{ matrix.distro.type }}
          ${{ env.ZITI_RPM_TEST_REPO }}/redhat${{ matrix.distro.version }}/${{ matrix.arch.rpm }}/
          --recursive=false
          --flat=true 

      - name: Upload DEB to Artifactory
        if: ${{ github.event_name == 'release' && startsWith(github.ref_name, 'v') && matrix.distro.name == 'ubuntu' }}
        shell: bash
        run: >
          set -o pipefail;
          set -o xtrace;
          jf rt upload
          ./build/ziti-edge-tunnel-*.${{ matrix.distro.type }}
          ${{ env.ZITI_DEB_TEST_REPO }}/pool/ziti-edge-tunnel/${{ matrix.distro.release_name }}/${{ matrix.arch.deb }}/
          --deb=${{ matrix.distro.release_name }}/main/${{ matrix.arch.deb }}
          --recursive=false
          --flat=true 
