name: Container Images

on:
  workflow_call:
    inputs:
      ziti-version:
        description: 'Ziti Tunneler Release Version'
        type: string
        required: true
  workflow_dispatch:
    inputs:
      ziti-version:
        description: 'Ziti Tunneler Release Version'
        type: string
        required: true

# no need for concurrency group in callable workflows

jobs:
  publish-container-images:
    runs-on: ubuntu-latest
    env:
      ZITI_VERSION: ${{ inputs.ziti-version || github.event.inputs.ziti-version }}
      ZITI_EDGE_TUNNEL_IMAGE: ${{ vars.ZITI_EDGE_TUNNEL_IMAGE || 'docker.io/openziti/ziti-edge-tunnel' }}
      ZITI_HOST_IMAGE: ${{ vars.ZITI_HOST_IMAGE || 'docker.io/openziti/ziti-host' }}
    steps:
      - name: Debug action
        uses: hmarr/debug-action@v3

      - name: Checkout Workspace
        uses: actions/checkout@v5

      - name: Download CMake Artifacts
        uses: actions/download-artifact@v5
        with:
          pattern: linux-*
          path: ./downloads

      - name: Unpack CMake Artifacts
        shell: bash
        run: |
          set -x
          ls -horRAS ./downloads
          mkdir -p ./build/{arm64,amd64}/linux/
          unzip -d ./build/arm64/linux/ ./downloads/linux-arm64/ziti-edge-tunnel-Linux_arm64.zip
          unzip -d ./build/amd64/linux/ ./downloads/linux-x64/ziti-edge-tunnel-Linux_x86_64.zip

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: amd64,arm64

      - name: Set up Docker BuildKit
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_API_USER || secrets.DOCKER_HUB_API_USER }}
          password: ${{ secrets.DOCKER_HUB_API_TOKEN }}

      - name: Set up Docker image tags for ziti-edge-tunnel image
        env:
          IMAGE_REPO: ${{ env.ZITI_EDGE_TUNNEL_IMAGE }}
        id: tagprep_run
        run: echo DOCKER_TAGS="${IMAGE_REPO}:unstable,${IMAGE_REPO}:${ZITI_VERSION}" | tee -a $GITHUB_OUTPUT

      - name: Build & Push Multi-Platform ziti-edge-tunnel Container Image
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ${{ github.workspace }}/
          file: ${{ github.workspace }}/docker/ziti-edge-tunnel.Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.tagprep_run.outputs.DOCKER_TAGS }}
          build-args: |
            ARTIFACTS_DIR=./build
            DOCKER_BUILD_DIR=./docker
          push: true

      - name: Set up Docker image tags for "run-host" container
        env:
          IMAGE_REPO: ${{ env.ZITI_HOST_IMAGE }}
        id: tagprep_run_host
        run: echo DOCKER_TAGS="${IMAGE_REPO}:unstable,${IMAGE_REPO}:${ZITI_VERSION}" | tee -a $GITHUB_OUTPUT

      - name: Build & Push Multi-Platform ziti-host Container Image
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ${{ github.workspace }}/
          file: ${{ github.workspace }}/docker/ziti-host.Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.tagprep_run_host.outputs.DOCKER_TAGS }}
          build-args: |
            ZITI_EDGE_TUNNEL_IMAGE=${{ env.ZITI_EDGE_TUNNEL_IMAGE }}
            ZITI_EDGE_TUNNEL_TAG=${{ env.ZITI_VERSION }}
          push: true
